  *{

text-align: center;
background-color: aliceblue;
margin-top: 40px;




  }
  
  #telefone{

 font-family:'Courier New', Courier, monospace;
 font-size: small;
  
  }



  #endereco{

 font-family:'Courier New', Courier, monospace;
  font-size: small;
  }


  #nome{

 font-family:'Courier New', Courier, monospace;
 font-size: small;
  
  }

  #h1{

 font-family: 'Times New Roman', Times, serif;
font-size: 30px;

  }



  





  